{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "tsconfigRootDir": "./",
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint", "import", "react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "import/no-unresolved": "error",
    "react/boolean-prop-naming": [
      "error",
      { "rule": "^is[A-Z]([A-Za-z0-9]?)+" }
    ],
    "react/destructuring-assignment": ["error", "always"],
    "react/jsx-boolean-value": ["error", "never"],
    "react/jsx-sort-props": [
      "error",
      {
        "shorthandFirst": true,
        "callbacksLast": true,
        "multiline": "last"
      }
    ],
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "type",
          ["parent", "sibling"],
          "index"
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          }
        ],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}
